:root{
	--main-color-white:#FFF;
	--main-color-black:#000;
	--main-color-gray:#EEE;
	--gray-on-hover:#DFDFDF;
	--gray-pressed:#D5D5D5;
	--red:#FB565A;
	--red-on-hover:#E74246;
	--red-pressed:#D7373B;
	--green:#00CA74;
	--green-on-hover:#00BC6C;
	--green-pressed:#00AA62;
	--yellow:#EFC849;
	--yellow-on-hover:#EAB534;
	--yellow-pressed:#E5A722;
	--dark-gray:#4D4D4D;
	--button-border-active:#DBDBDB;
	--gray-text:#283136;
	--cart-logo:#A6A6A6;
	--discount:#444444;
	--slider-active:#C1C1C1;
	--contact-info:#666666;
	--button-rectangle:#231F20;
	--range-thumb:#ABABAB;
	--range-background:#D7DCDF;
	--img-bottom:#C4C4C4;
	--light-gray-button:#E1E1E1;
	--text-field-gray:#D7DCDE;
	--text-field-gray-on-hover:#B4B9BB;
}

body {
	min-width: 1160px;
	margin: 0;
  	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: var(--main-color-white);
	color: var(--gray-text);
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	width: 100%;
	font-style: normal;
}

/*header*/

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.navigation{
	display: grid;
	font-weight: 500;
	line-height: 30px;
	color: var(--main-color-black);
}

.main-navigation-wrapper {
	background-color: var(--main-color-gray);
}

.navigation-list{
	list-style: none;
}

.navigation-list a,
.user-navigation a {
	color: var(--main-color-black);
}

.navigation-list a:focus,
.navigation-list a:hover,
.user-navigation a:hover,
.user-navigation a:focus {
	color: var(--red);
}

.navigation-list a:active,
.user-navigation a:active {
	color: var(--main-color-black);
	opacity: 0.3;
}

.user-navigation {

}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--main-color-gray);
}

.nerds-logo{
	order: 1;
}

.main-header-bar {
  background-color: var(--main-color-gray);

}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*=================MAIN===================*/

.index-main a{
	color: var(--main-color-white)
}


/*main(index)*/

.catch-phrase{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.header-content{
	display: grid;
  grid-template-columns: 1fr 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: var(--main-color-gray)

}

.page{
	height: 100%;
}

.page-body{
 	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
 	align-content: start;
}

.main-header{
  background-color: var(--main-color-gray);
  padding-bottom: 0px;
padding-top: 30px;
  margin-bottom: 70px;
}

.see-more{
	width: 240px;
	height: 50px;
	background-color: var(--red)

}

.see-more a:hover{
	background-color: var(--red-on-hover)
}

.see-more a:active{
	background-color: var(--red-pressed)
}

/*Услуги*/

.hidden{
	visibility: hidden;
}

.service-list{
	list-style: none;
	margin: 0;
    padding: 0;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    column-gap: 100px;
}

.service-items{
	text-align: center;
	align-items: center; 

}

.service-items h3{
	font-size: 24px;
	line-height: 30px;
}

.service-items p {
  margin: 0 10px;
}


.services a{
	color: var(--main-color-white)
}

.services{
	  margin-bottom: 95px;
}

.order{
	font-weight: 500;
	line-height: 18px;
	align-items: center;
	text-align: center;
	width: 160px;
	height: 50px;
}

.web-sites-button{
	background-color: var(--red)
}

.web-sites-button a:hover{
	background-color: var(--red-on-hover)
}

.web-sites-button a:active{
	background-color: var(--red-pressed)
}

.apps-button{
	background-color: var(--green)
}

.apps-button a:hover{
	background-color: var(--green-on-hover)
}

.apps-button a:active{
	background-color: var(--green-pressed)
}

.presentations-button{
	background-color: var(--yellow) 
}

.presentations-button a:hover{
	background-color: var(--yellow-on-hover) 
}

.presentations-button a:active{
	background-color: var(--yellow-pressed) 
}
/*О нас*/

.about{
	display: grid;
    grid-template-columns: 1fr 1fr min-content;
}

.our-services{
	padding-left:140px;
}

.accuracy-in-everything{
	text-align: center;
}

.motto{
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	align-items: center;
	color: var(--main-color-black);
}

.watchword{
	align-items: center;
}

.development-order{
	font-weight: bold;
}

.order-list{
	list-style: none;
}

.subtitle{
	font-weight: bold;
	align-items: center;
	text-align: center;
	color: var(--main-color-black);
}


.percent{
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--main-color-black);
}

.subtext{
	line-height: 18px;
	align-items: center;
}

/*Ссылки*/


.site{
	opacity: 0.2;
}

.site a:active{
	opacity: 0.1;
}

.companies{
	text-align: center;
	border-top: 2px solid var(--main-color-gray);
	border-bottom: 2px solid var(--main-color-gray);

}
/*==================CATALOG===================*/



.catalog-title{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	align-items: center;
	color: var(--main-color-black);
	background-color: var(--main-color-gray);
	text-align:center;
}

.catalog-main{
	outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;	
   display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.catalog-main a{
	color: var(--main-color-black)
}

.catalog-main-content{
	display: grid;
	 grid-template-columns: 1fr 1fr;
}

.filters {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
  order: 0;

}

.sort{
outline: 5px solid rgba(255, 255, 0, 0.7);
  outline-offset: -5px;	
}

.sort-list{
	list-style: none;
}

.sort-by{
	font-size: 14px;
	line-height: 18px;
	color: var(--main-color-black);
	opacity: 0.3;
}

.sort-by a:hover{
	opacity: 0.6;
}


.price-title,
.grid-title,
.features-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	color: var(--main-color-black)
}

.range-value{
	line-height: 22px;
	align-items: center;
}

.radio-button,
.checkbox{
	line-height: 19px;
}

.gray-button{
	width: 260px;
	height: 50px;
	color: var(--main-color-gray);
}

.gray-button a:hover{
	width: 260px;
	height: 50px;
	color: var(--gray-on-hover);
}

.gray-button a:active{
	width: 260px;
	height: 50px;
	color: var(--gray-pressed);
}

.cotent{
	outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  order: 1;
}

.templates-list{
	list-style: none;
	display: grid;
	 grid-template-columns: 1fr 1fr min-content;
	
}

.pages{
	list-style: none;
}

.next-page,
.gray-button{
	float: left;
	color: var(--main-color-black);
	padding: 10px
	outline: 5px solid rgba(0, 155, 255, 0.7);
  outline-offset: -5px;
}


/*footer*/
/*Контактная информация*/
.main-footer{
     width: 1160px;
	margin-top: 70px;
	padding: 0 20px;
}


.contact-info{
	
}

.site-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	color: var(--main-color-black)
}

.contact-information{
	line-height: 18px;
	align-items: center;
	color:var(--contact-info);
}

.contact-us{
	width: 219px;
	height: 50px;
	background-color: var(--red);
	color:var(--main-color-white);
}

.offer{

}

/*Соцсети*/

.social-media{
  	 text-align: center;
  	 padding: 100px;
}

.social-media-item{
	border: 10px solid var(--light-gray-button);
	border-radius: 50%;
	background-color: var(--light-gray-button);

}

.social-media-item a:hover{
	border: 10px solid var(--red-on-hover);
	border-radius: 50%;
	background-color:var(--red-on-hover)
}

.social-media-item a:active{
	border: 10px solid var(--red-pressed);
	border-radius: 50%;
	background-color: var(--red-pressed)
}

.proposal{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	align-items: center;
	color: var(--main-color-black)
}

.discount10{
	line-height: 22px;
	align-items: center;
	color: var(--discount)
}

.footer-wrapper{
	display: grid;
    grid-template-columns: 1fr 1fr min-content;	
}

.modal{
	display: none;
}