:root{
	--main-color-white:#FFF;
	--main-color-black:#000;
	--main-color-gray:#EEE;
	--gray-on-hover:#DFDFDF;
	--gray-pressed:#D5D5D5;
	--red:#FB565A;
	--red-on-hover:#E74246;
	--red-pressed:#D7373B;
	--green:#00CA74;
	--green-on-hover:#00BC6C;
	--green-pressed:#00AA62;
	--yellow:#EFC849;
	--yellow-on-hover:#EAB534;
	--yellow-pressed:#E5A722;
	--dark-gray:#4D4D4D;
	--button-border-active:#DBDBDB;
	--gray-text:#283136;
	--cart-logo:#A6A6A6;
	--discount:#444444;
	--slider-active:#C1C1C1;
	--contact-info:#666666;
	--button-rectangle:#231F20;
	--range-thumb:#ABABAB;
	--range-background:#D7DCDF;
	--img-bottom:#C4C4C4;
	--light-gray-button:#E1E1E1;
	--text-field-gray:#D7DCDE;
	--text-field-gray-on-hover:#B4B9BB;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	background-color: var(--main-color-white);
	color: var(--gray-text);
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	width: 100%;
	font-style: normal;
}

/*header*/

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.navigation{
	font-weight: 500;
	line-height: 30px;
	color: var(--main-color-black);
}

.main-navigation-wrapper {
	background-color: var(--main-color-gray);
}

.navigation-list{
	list-style: none;
}

.navigation-list a,
.user-navigation a {
	color: var(--main-color-black);
}

.navigation-list a:focus,
.navigation-list a:hover,
.user-navigation a:hover,
.user-navigation a:focus {
	color: var(--red);
}

.navigation-list a:active,
.user-navigation a:active {
	color: var(--main-color-black);
	opacity: 0.3;
}

/*=================MAIN===================*/

.index-main a{
	color: var(--main-color-white)
}


/*main(index)*/
.catch-phrase{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}



.see-more{
	width: 240px;
	height: 50px;
	background-color: var(--red)

}

.see-more a:hover{
	background-color: var(--red-on-hover)
}

.see-more a:active{
	background-color: var(--red-pressed)
}

/*Услуги*/

.service-hidden{
	visibility: hidden;
}

.service-list{
	list-style: none;
}

.service-items{
	align-items: center;
}

.service-items h3{
	font-size: 24px;
	line-height: 30px;
}

.services a{
	color: var(--main-color-white)
}


.order{
	font-weight: 500;
	line-height: 18px;
	align-items: center;
	text-align: center;
	width: 160px;
	height: 50px;
}

.web-sites-button{
	background-color: var(--red)
}

.web-sites-button a:hover{
	background-color: var(--red-on-hover)
}

.web-sites-button a:active{
	background-color: var(--red-pressed)
}

.apps-button{
	background-color: var(--green)
}

.apps-button a:hover{
	background-color: var(--green-on-hover)
}

.apps-button a:active{
	background-color: var(--green-pressed)
}

.presentations-button{
	background-color: var(--yellow) 
}

.presentations-button a:hover{
	background-color: var(--yellow-on-hover) 
}

.presentations-button a:active{
	background-color: var(--yellow-pressed) 
}
/*О нас*/

.about-hidden{
	visibility: hidden
}

.motto{
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	align-items: center;
	color: var(--main-color-black);
}

.watchword{
	align-items: center;
}

.development-order{
	font-weight: bold;
}

.order-list{
	list-style: none;
}

.subtitle{
	font-weight: bold;
	align-items: center;
	text-align: center;
	color: var(--main-color-black);
}

.accuracy-in-everything-hidden{
	visibility: hidden;
}

.percent{
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--main-color-black);
}

.subtext{
	line-height: 18px;
	align-items: center;
}

/*Ссылки*/

.manufacturers-hidden{
	visibility: hidden;
}

.site{
	opacity: 0.2;
}

.site a:active{
	opacity: 0.1;
}

.htmlacademy{
	background-image: url("../img/bg.jpg");
}

.borodinski{
	background-image: url(logo-2.png);
}

.pink{
	background-image: url(logo-3.png);
}

.mishka{
	background-image: url(logo-4.png);
}
/*==================CATALOG===================*/

.catalog-title{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	align-items: center;
	color: var(--main-color-black)
}

.catalog-main a{
	color: var(--main-color-black)
}


.sort-list{
	list-style: none;
}

.sort-by{
	font-size: 14px;
	line-height: 18px;
	color: var(--main-color-black);
	opacity: 0.3;
}

.sort-by a:hover{
	opacity: 0.6;
}


.price,
.grid,
.features{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	color: var(--main-color-black)
}

.range-value{
	line-height: 22px;
	align-items: center;
}

.radio-button,
.checkbox{
	line-height: 19px;
}

.gray-button{
	width: 260px;
	height: 50px;
	color: var(--main-color-gray);
}

.gray-button a:hover{
	width: 260px;
	height: 50px;
	color: var(--gray-on-hover);
}

.gray-button a:active{
	width: 260px;
	height: 50px;
	color: var(--gray-pressed);
}

.template-hidden{
	visibility: hidden;
}

.templates-list{
	list-style: none;
}

.pages{
	list-style: none;
}

.next-page,
.gray-button{
	color: var(--main-color-black)
}
/*footer*/
/*Контактная информация*/



.site-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	color: var(--main-color-black)
}

.contact-information{
	line-height: 18px;
	align-items: center;
	color:var(--contact-info);
}

.contact-us{
	width: 219px;
	height: 50px;
	background-color: var(--red);
	color:var(--main-color-white);
}

/*Соцсети*/

/*.social-media-item{
	border: 10px solid var(--light-gray-button);
	border-radius: 50%;
	background-color: var(--light-gray-button);

}

.social-media-item a:hover{
	color:var(--red-on-hover)
}

.social-media-item a:active{
	color: var(--red-pressed)
}*/

.proposal{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	align-items: center;
	color: var(--main-color-black)
}

.discount10{
	line-height: 22px;
	align-items: center;
	color: var(--discount)
}